options/optgd/__pycache__/iterator.cpython-312.pyc
options/optgd/__pycache__/db_connect.cpython-39.pyc
options/optgd/__pycache__/option_chain.cpython-312.pyc
options/optgd/__pycache__/option_chain.cpython-313.pyc
options/optgd/__pycache__/option_chain.cpython-311.pyc
options/optgd/__pycache__/option_chain.cpython-39.pyc
options/optgd/__pycache__/db_connect.cpython-313.pyc
options/optgd/__pycache__/db_connect.cpython-312.pyc
options/optgd/__pycache__/db_connect.cpython-311.pyc
options/track/__pycache__/scanner.cpython-312.pyc
options/track/__pycache__/manage_tracking.cpython-39.pyc
options/track/__pycache__/manage_tracking.cpython-312.pyc
options/track/__pycache__/tracker.cpython-312.pyc
options/track/__pycache__/scanner.cpython-39.pyc
options/track/__pycache__/tracker.cpython-39.pyc
options/track/notebooks/tracking.ipynb
options/__pycache__/manage_all.cpython-39.pyc
options/__pycache__/manage_all.cpython-311.pyc
options/__pycache__/manage_all.cpython-312.pyc
options/stat/validate_cp.ipynb
options/stat/__pycache__/em.cpython-311.pyc
options/stat/__pycache__/em.cpython-312.pyc
options/stat/__pycache__/cvar.cpython-312-pytest-8.3.4.pyc
options/stat/__pycache__/em.cpython-313.pyc
options/stat/__pycache__/cvar.cpython-312.pyc
options/stat/__pycache__/change_vars.cpython-39.pyc
options/stat/__pycache__/change_vars.cpython-311.pyc
options/stat/__pycache__/change_vars.cpython-313.pyc
options/stat/__pycache__/change_vars.cpython-312.pyc
options/stat/__pycache__/cp.cpython-39.pyc
options/stat/__pycache__/cp3.cpython-312.pyc
options/stat/__pycache__/manage_stats.cpython-39.pyc
options/stat/__pycache__/manage_stats.cpython-311.pyc
options/stat/__pycache__/manage_stats.cpython-313.pyc
options/stat/__pycache__/cp3.cpython-311.pyc
options/stat/__pycache__/manage_stats.cpython-312.pyc
options/stat/__pycache__/test_change_vars.cpython-312-pytest-8.3.4.pyc
options/stat/__pycache__/cp.cpython-311.pyc
options/stat/__pycache__/cp.cpython-313.pyc
options/stat/__pycache__/cp.cpython-312.pyc
options/stat/__pycache__/em.cpython-39.pyc
bonds/yieldAnimation.ipynb
bonds/__pycache__/bond.cpython-39.pyc
bonds/__pycache__/bond.cpython-311.pyc
bonds/__pycache__/bond.cpython-312.pyc
utils/__pycache__/delete_stocks.cpython-312.pyc
utils/__pycache__/add_stocks.cpython-312.pyc
utils/__pycache__/tools.cpython-311.pyc
utils/__pycache__/tools.cpython-312.pyc
models/forecast/smax.ipynb
models/nn/test_torch.ipynb
models/__pycache__/option_stats_model_setup.cpython-312.pyc
models/__pycache__/option_stats_model_setup.cpython-311.pyc
models/__pycache__/indicator_model_setup.cpython-312.pyc
models/anom/testing.ipynb
models/anom/saved/anomaly_model_iwm_both.pkl
models/anom/saved/stacked_anomaly_model_spy.pkl
models/anom/saved/stacked_anomaly_model_bearish_mo.pkl
models/anom/saved/stacked_anomaly_model_both_mo.pkl
models/anom/saved/stacked_anomaly_model_iwm.pkl
models/anom/saved/anomaly_model_mo_bearish.pkl
models/anom/saved/stacked_anomaly_model_bearish_iwm.pkl
models/anom/saved/anomaly_model_mo_bullish.pkl
models/anom/saved/stacked_anomaly_model_bullish_iwm.pkl
models/anom/saved/stacked_anomaly_model_bearish_spy.pkl
models/anom/saved/stacked_anomaly_model_bullish_mo.pkl
models/anom/saved/anomaly_model_mo_both.pkl
models/anom/saved/stacked_anomaly_model_bullish_spy.pkl
models/anom/saved/anomaly_model_iwm_bullish.pkl
models/anom/saved/stacked_anomaly_model_mo.pkl
models/anom/saved/stacked_anomaly_model_both_spy.pkl
models/anom/saved/anomaly_model_spy_bearish.pkl
models/anom/saved/stacked_anomaly_model_both_iwm.pkl
models/anom/saved/anomaly_model_spy_bullish.pkl
models/anom/saved/anomaly_model_spy_both.pkl
models/anom/saved/anomaly_model_iwm_bearish.pkl
models/anom/__pycache__/icr.cpython-312.pyc
models/anom/__pycache__/setup.cpython-312.pyc
models/anom/__pycache__/view.cpython-312.pyc
models/anom/__pycache__/model.cpython-312.pyc
models/trends/cd3.ipynb
models/trends/__pycache__/change_detection.cpython-312.pyc
models/trends/__pycache__/trend_results.cpython-312.pyc
models/trends/__pycache__/trend_detector.cpython-312.pyc
models/trends/notebooks/cd.ipynb
alerts/__pycache__/iterator.cpython-312.pyc
alerts/__pycache__/options_alerts.cpython-312.pyc
alerts/__pycache__/options_alerts.cpython-311.pyc
alerts/investigation/expiry.ipynb
price/technicals/__pycache__/vol.cpython-311.pyc
price/technicals/__pycache__/others.cpython-39.pyc
price/technicals/__pycache__/vol.cpython-312.pyc
price/technicals/__pycache__/ma.cpython-312.pyc
price/technicals/__pycache__/mom.cpython-39.pyc
price/technicals/__pycache__/ma.cpython-311.pyc
price/technicals/__pycache__/utils.cpython-39.pyc
price/technicals/__pycache__/vol.cpython-39.pyc
price/technicals/__pycache__/utils.cpython-312.pyc
price/technicals/__pycache__/mom.cpython-312.pyc
price/technicals/__pycache__/utils.cpython-311.pyc
price/technicals/__pycache__/mom.cpython-311.pyc
price/technicals/__pycache__/ma.cpython-39.pyc
price/technicals/__pycache__/others.cpython-311.pyc
price/technicals/__pycache__/others.cpython-312.pyc
price/signals/__pycache__/multi_timeframe.cpython-312.pyc
price/models/__pycache__/connect.cpython-312.pyc
price/models/__pycache__/varSelection.cpython-312.pyc
price/models/anom/saved/anomaly_model_xlk.pkl
price/models/anom/saved/anomaly_model_spy.pkl
price/models/anom/saved/anomaly_model_iwm.pkl
price/models/anom/saved/anomaly_model_smci.pkl
price/models/anom/saved/anomaly_model_hd.pkl
price/models/anom/saved/anomaly_model_sony.pkl
price/models/anom/saved/anomaly_model_dis.pkl
price/models/anom/saved/anomaly_model_tgt.pkl
price/models/anom/saved/anomaly_model_x.pkl
price/models/anom/saved/anomaly_model_pgr.pkl
price/models/anom/saved/anomaly_model_rrc.pkl
price/models/anom/saved/anomaly_model_pho.pkl
price/models/anom/saved/anomaly_model_nvda.pkl
price/models/anom/saved/anomaly_model_igv.pkl
price/models/anom/saved/anomaly_model_nflx.pkl
price/models/anom/saved/anomaly_model_tsla.pkl
price/models/anom/saved/anomaly_model_clsk.pkl
price/models/anom/saved/anomaly_model_tdoc.pkl
price/models/anom/saved/anomaly_model_rblx.pkl
price/models/anom/saved/anomaly_model_ibb.pkl
price/models/anom/saved/anomaly_model_xlv.pkl
price/models/anom/saved/tmp.ipynb
price/models/anom/saved/anomaly_model_ccj.pkl
price/models/anom/__pycache__/setup.cpython-312.pyc
price/models/anom/__pycache__/view.cpython-312.pyc
price/models/anom/__pycache__/model.cpython-312.pyc
price/models/simulations/validate.ipynb
price/models/simulations/__pycache__/prices.cpython-39.pyc
price/models/simulations/__pycache__/prices.cpython-312.pyc
price/models/simulations/__pycache__/prices.cpython-311.pyc
price/__pycache__/get_data.cpython-39.pyc
price/__pycache__/get_data.cpython-312.pyc
price/__pycache__/db_connect.cpython-39.pyc
price/__pycache__/get_data.cpython-311.pyc
price/__pycache__/indicators.cpython-311.pyc
price/__pycache__/indicators.cpython-312.pyc
price/__pycache__/indicators.cpython-39.pyc
price/__pycache__/db_connect.cpython-312.pyc
price/__pycache__/db_connect.cpython-311.pyc
price/perf/__pycache__/report.cpython-312.pyc
price/notebooks/ExpectedReturns.ipynb
price/notebooks/sectors.ipynb
price/notebooks/JPM.ipynb
price/notebooks/XLY_reconstruction.ipynb
price/notebooks/Volatility_Estimator.ipynb
earnings/dmc/eps_visual.ipynb
earnings/dmc/Update_earnings.ipynb
earnings/value/view_earnings.ipynb
earnings/value/edgar.ipynb
earnings/value/bin/live_calculations.ipynb
earnings/value/bin/draft.ipynb
earnings/value/__pycache__/earnings.cpython-312.pyc
earnings/value/logo/__pycache__/locoScrap.cpython-39.pyc
earnings/value/earnings/earn.ipynb
earnings/value/earnings/earnings.pkl
earnings/value/earnings/7/earnings82.pkl
earnings/value/earnings/7/earnings830.pkl
earnings/value/earnings/7/earnigns729.pkl
earnings/value/earnings/7/earnings730.pkl
earnings/value/earnings/7/earnings912.pkl
earnings/__pycache__/get_earnings.cpython-311.pyc
earnings/__pycache__/get_earnings.cpython-313.pyc
earnings/__pycache__/get_earnings.cpython-312.pyc
earnings/__pycache__/util.cpython-313.pyc
earnings/__pycache__/get_earnings.cpython-39.pyc
earnings/__pycache__/util.cpython-312.pyc
earnings/__pycache__/util.cpython-311.pyc
earnings/__pycache__/util.cpython-39.pyc
plots/__pycache__/volume_oi_chart.cpython-312.pyc
plots/__pycache__/utils.cpython-312.pyc
.DS_Store
*.pyc
*earnings/